{% extends 'base.html' %}


{% block content %}
<h3>Create a short : </h3>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes style="color:red;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post" action="http://localhost:5000/create">
    <label for="url">Url</label>
    <input name="url" id="url" required>
    <input type="submit" value="Short it">
  </form>
{% endblock %}